# Relatório de Análise I - Base de dados e infos gerais

## Importando a Base de Dados

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

Mounted at /content/drive

In [ ]:
dados = pd.read_csv('/content/drive/MyDrive/DS/aluguel.csv', sep=';')
dados

Obs: Upando o arquivo aluguel.csv diretamente do Collab ocorre uma problema de carregamento parcial dos dados, cerca de +10k de linhas somem.
Carregando o arquivo via montagem de drive foi uma alternativa para conseguir o DataFrame completo.

In [ ]:
dados.head()

In [ ]:
type(dados)

In [ ]:
dados.info()

In [ ]:
dados.head(10)

In [ ]:
len(dados['Tipo'].unique())

In [ ]:
dados['Tipo'].value_counts(normalize=True)*100

In [ ]:
dados['Tipo'].value_counts(normalize=True).plot.bar()

## Informações Gerais sobre a Base de Dados

In [ ]:
dados.dtypes

In [ ]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de Dados'])
tipos_de_dados

In [ ]:
tipos_de_dados.columns.name = 'Variáveis'
tipos_de_dados

In [ ]:
dados.shape

(32960, 9)

In [ ]:
dados.shape[0]

In [ ]:
dados.shape[1]

In [ ]:
print('A base de dados apresenta {} registros básicos e {} variáveis'.format(dados.shape[0],dados.shape[1]))

In [ ]:
print(f'A base de dados apresenta {dados.shape[0]} e {dados.shape[1]} variáveis')

# Relatório de Análise II - Análise básica e organização

## Tipos de Imóveis

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('/content/drive/MyDrive/DS/aluguel.csv',sep=';')

In [ ]:
dados.head()

In [ ]:
dados['Tipo'].unique()

In [ ]:
tipo_de_imovel = dados['Tipo']
tipo_de_imovel.unique()

In [ ]:
tipo_de_imovel.drop_duplicates()
tipo_de_imovel.drop_duplicates(inplace=True)

In [ ]:
tipo_de_imovel

## Organizando a Visualização

In [ ]:
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel

In [ ]:
tipo_de_imovel.reset_index(drop=True, inplace=True)

In [ ]:
tipo_de_imovel

In [ ]:
tipo_de_imovel.columns.name='Id'
tipo_de_imovel

#Relatório de Análise III - Seleção e exportação

# Imóveis Residenciais

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('/content/drive/MyDrive/DS/aluguel.csv', sep=';')

In [ ]:
dados.head(10)

In [ ]:
list(dados['Tipo'].drop_duplicates())

In [ ]:
residencial = ['Quitinete', 
               'Casa',
               'Apartamento',
               'Casa de Condomínio',
               'Casa de Vila']

In [ ]:
sel = dados['Tipo'].isin(residencial)

In [ ]:
dados_residencial = dados[sel]
dados_residencial

In [ ]:
dados_residencial['Tipo'].unique()

In [ ]:
dados_residencial.reset_index(drop=True, inplace=True)
dados_residencial

#Exportando a base de dados

In [ ]:
dados_residencial.to_csv('aluguel_residencial.csv', sep=';', index=False)

In [ ]:
pd.read_csv('aluguel_residencial.csv',sep=';')

# Relatório de Análise IV - Seleções e frequências (exercícios)

## Seleções e Frequências

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('aluguel_residencial.csv', sep=';')

In [ ]:
dados.head(15)

In [ ]:
#Selecione somente os imóveis classificados com o tipo 'Apartamento'

s1 = dados['Tipo'] == 'Apartamento'
dados[s1]

In [ ]:
#Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'

dados['Tipo'].unique()

In [ ]:
s2 = (dados['Tipo']!='Quitinete') & (dados['Tipo']!='Apartamento')
dados[s2]

In [ ]:
#Selecione os imóveis com áreas entre 60 100 metros quadrados, incluindo os limites 60<= Area <= 100

In [ ]:
dados.head(3)

In [ ]:
s3 = (dados['Area']>=60) & (dados['Area']<=100)
dados[s3]

In [ ]:
# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00

s4 = (dados['Quartos']>=4) & (dados['Valor']<2000)
dados[s4]

In [ ]:
#Imprima a frequencia das selecoes anteriores

print("Nº de imóveis classificados com tipo 'Apartamento' -> {}".format(len(dados[s1])))

Nº de imóveis classificados com tipo 'Apartamento' -> 19532

In [ ]:
print("Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> {}".format(len(dados[s2])))

Nº de imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' -> 2212

In [ ]:
print("Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> {}".format(len(dados[s3])))

Nº de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites -> 8719

In [ ]:
print("Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}".format(len(dados[s4])))

Nº de imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 36